POSTGRES_PASSWORD=verycomplexedpassword

DISCORD_SHARDS=1
DISCORD_TOKEN=0
DISCORD_OFFICIAL_SERVER_ID=0
DISCORD_ARCHIVE_CHANNEL_ID=0
DISCORD_TESTER_ROLE_ID=0

MINTAKA_CORES=8
MINTAKA_MEMORY_LIMIT_MIB=8192

MINTAKA_API_PASSWORD=verycomplexedpassword
