<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss.SSS"}Z [%thread] %-5level %logger{36} %msg%n</pattern>
        </encoder>
    </appender>

    <property name="HOME_LOG" value="logs/gomokubot.log"/>
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/gomokubot.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>
            <maxHistory>365</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss.SSS"}Z [%thread] %-5level %logger{36} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="info">
        <appender-ref ref="FILE-ROLLING"/>
    </root>
</configuration>
