name: Gradle build

on:
  - pull_request
  - push

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Build with Gradle
        run: ./gradlew build
      - name: Archive build results
        uses: actions/upload-artifact@v4
        with:
          name: gomokubot-build-results
          path: |
            discord/build/libs/discord-*-all.jar
          if-no-files-found: error
